doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title} Squad health check model
    link(rel='stylesheet', href='/css/main.css')
    block styles

  body
    .container
      include partials/flash
      block content
    
    include partials/footer
  
  script(src='/js/lib/jquery-3.1.1.min.js')
  script(src='/js/lib/bootstrap.min.js')
  script(src='/js/main.js')
  block scripts
  