extends layout

block content
  h1 New squad answer
  br
  form(method='POST')
    .row
      .col-5.mb-3
        label(for='squadName') Squad
        input.form-control(type='text', name='squadName', id='squadName', placeholder='Enter the name of a squad', autofocus, required)
    .squad-answer-row
      .row
        .col-8.mb-3
          label(for='area') Area
          select.form-control(name='area', id='area', required)
            each area in pageData.areaDescription
              option(value=area._id)
                = area.title
      .row
        .col-1.mb-3
          .circle-base.awesome-circle
        .col-3.mb-3(id='awesome_example')
        .col-1.mb-3
          .circle-base.crappy-circle
        .col-3.mb-3(id='crappy_example')
      .row
        .col-2.mb-3
          label(for='good') Good
          input.form-control(type='number', name='good', id='good', min=0, required)
        .col-2.mb-3
          label(for='meh') Meh...
          input.form-control(type='number', name='meh', id='meh', min=0, required)
        .col-2.mb-3
          label(for='bad') Bad
          input.form-control(type='number', name='bad', id='bad', min=0, required)
        .col-2.mb-3
          label(for='trend') Trend
          select.form-control(name='trend', id='trend')
            each trend in pageData.trendValues
              option(value=trend.id)
                = trend.title
      .row
        .col-8.mb-3
          label(for='issues') Issues
          textarea.form-control(name='issues', id='issues', rows='7', placeholder='Enter the issues that squad see')
      .row
        .col-offset-1.col-8
          button.btn.btn-primary(type='submit')          
            | Submit
  br
  .table-striped(id='gridContainer')
  
  script.
    var pageData = !{JSON.stringify(pageData)}

block scripts
  script(src='/js/new-squad-answer.js')
