extends layout

block content
  h1 New squad answer
  form.form-horizontal(method='POST')
    .form-group
      label(class='col-sm-1 control-label', for='name') Squad
      .col-sm-3
        input.form-control(type='text', name='name', id='name', autofocus=true)
    .squad-answer-row
      .form-group
        label(class='col-sm-1 control-label', for='area') Area
        .col-sm-3
          input.form-control(type='text', name='area', id='area')
        label(class='col-sm-1 control-label', for='good') Good
        .col-sm-1
          input.form-control(type='text', name='good', id='good')
        label(class='col-sm-1 control-label', for='meh') Meh...
        .col-sm-1
          input.form-control(type='text', name='meh', id='meh')
        label(class='col-sm-1 control-label', for='bad') Bad
        .col-sm-1
          input.form-control(type='text', name='bad', id='bad')
        label(class='col-sm-1 control-label', for='trend') Trend
        .col-sm-1
          input.form-control(type='text', name='trend', id='trend')
      .form-group
        label(class='col-sm-1 control-label', for='issues') Issues
        .col-sm-11
          textarea.form-control(name='issues', id='issues', rows='7')
      .form-group
        .col-sm-offset-11
          button.btn.btn-primary(type='submit')          
            | Submit
